In [2]:
import pandas as pd

In [4]:
# filter menggunakan dua cara:
# comparison operators
# boolean logic

In [9]:
# read data source first
data_supermarket = pd.read_csv('supermarket_sales.csv')
data_supermarket.head(2)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6

In [16]:
#filter data based on value
filter_data = data_supermarket[data_supermarket["Payment"] == "Ewallet"]
# print data
filter_data.head(2)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4

In [26]:
# filter data berdasarkan beberapa kondisi yang harus dipenuhi
filter_data2 = data_supermarket[(data_supermarket["Product line"]== "Health and beauty") | (data_supermarket["Product line"]== "Electronic accessories")]
filter_data2.head(10)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
5,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.8865,627.6165,3/25/2019,18:30,Ewallet,597.73,4.761905,29.8865,4.1
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.6920,2/25/2019,14:36,Ewallet,413.04,4.761905,20.6520,5.8
8,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.26,2,3.6260,76.1460,1/10/2019,17:15,Credit card,72.52,4.761905,3.6260,7.2
11,529-56-3974,B,Mandalay,Member,Male,Electronic accessories,25.51,4,5.1020,107.1420,3/9/2019,17:03,Cash,102.04,4.761905,5.1020,6.8
12,365-64-0515,A,Yangon,Normal,Female,Electronic accessories,46.95,5,11.7375,246.4875,2/12/2019,10:25,Ewallet,234.75,4.761905,11.7375,7.1
14,829-34-3910,A,Yangon,Normal,Female,Health and beauty,71.38,10,35.6900,749.4900,3/29/2019,19:21,Cash,713.80,4.761905,35.6900,5.7
16,656-95-9349,A,Yangon,Member,Female,Health and beauty,68.93,7,24.1255,506.6355,3/11/2019,11:03,Credit card,482.51,4.761905,24.1255,4.6

In [30]:
# filter data based on data yang ditentukan
filter_data3 = data_supermarket[data_supermarket["Unit price"]> 50.50]
filter_data3.head(10)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
5,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.8865,627.6165,3/25/2019,18:30,Ewallet,597.73,4.761905,29.8865,4.1
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.6920,2/25/2019,14:36,Ewallet,413.04,4.761905,20.6520,5.8
7,315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,73.56,10,36.7800,772.3800,2/24/2019,11:38,Ewallet,735.60,4.761905,36.7800,8.0
9,692-92-5582,B,Mandalay,Member,Female,Food and beverages,54.84,3,8.2260,172.7460,2/20/2019,13:27,Credit card,164.52,4.761905,8.2260,5.9
14,829-34-3910,A,Yangon,Normal,Female,Health and beauty,71.38,10,35.6900,749.4900,3/29/2019,19:21,Cash,713.80,4.761905,35.6900,5.7
15,299-46-1805,B,Mandalay,Member,Female,Sports and travel,93.72,6,28.1160,590.4360,1/15/2019,16:19,Cash,562.32,4.761905,28.1160,4.5
16,656-95-9349,A,Yangon,Member,Female,Health and beauty,68.93,7,24.1255,506.6355,3/11/2019,11:03,Credit card,482.51,4.761905,24.1255,4.6

In [36]:
#filter dengan nilai yang sudah ditentukan lebih dari 2
filter_data4 = data_supermarket[(data_supermarket["Total"] <= 300) & (data_supermarket["Rating"] >= 7.5)]
filter_data4.head(10)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
18,329-62-1586,A,Yangon,Normal,Male,Food and beverages,54.67,3,8.2005,172.2105,1/21/2019,18:00,Credit card,164.01,4.761905,8.2005,8.6
23,636-48-8204,A,Yangon,Normal,Male,Electronic accessories,34.56,5,8.6400,181.4400,2/17/2019,11:15,Ewallet,172.80,4.761905,8.6400,9.9
27,189-17-4241,A,Yangon,Normal,Female,Fashion accessories,87.67,2,8.7670,184.1070,3/10/2019,12:17,Credit card,175.34,4.761905,8.7670,7.7
39,777-82-7220,B,Mandalay,Member,Male,Home and lifestyle,30.12,8,12.0480,253.0080,3/3/2019,13:01,Cash,240.96,4.761905,12.0480,7.7
40,280-35-5823,B,Mandalay,Member,Female,Home and lifestyle,86.72,1,4.3360,91.0560,1/17/2019,18:45,Ewallet,86.72,4.761905,4.3360,7.9
48,669-54-1719,B,Mandalay,Member,Male,Electronic accessories,18.93,6,5.6790,119.2590,2/10/2019,12:45,Credit card,113.58,4.761905,5.6790,8.1
51,162-48-8011,A,Yangon,Member,Female,Food and beverages,44.59,5,11.1475,234.0975,2/10/2019,15:10,Cash,222.95,4.761905,11.1475,8.5
59,120-06-4233,C,Naypyitaw,Normal,Male,Electronic accessories,30.61,6,9.1830,192.8430,3/12/2019,20:36,Cash,183.66,4.761905,9.1830,9.3
60,285-68-5083,C,Naypyitaw,Member,Female,Sports and travel,24.74,3,3.7110,77.9310,2/15/2019,17:47,Credit card,74.22,4.761905,3.7110,10.0

In [40]:
# menggunakan filter kemudian hanya memilih beberapa kolom saja
data_supermarket[data_supermarket["Unit price"] > 30 ][["Customer type", "Gender", "Product line", "Unit price"]]

    Customer type  Gender            Product line  Unit price
0          Member  Female       Health and beauty       74.69
2          Normal    Male      Home and lifestyle       46.33
3          Member    Male       Health and beauty       58.22
4          Normal    Male       Sports and travel       86.31
5          Normal    Male  Electronic accessories       85.39
..            ...     ...                     ...         ...
995        Normal    Male       Health and beauty       40.35
996        Normal  Female      Home and lifestyle       97.38
997        Member    Male      Food and beverages       31.84
998        Normal    Male      Home and lifestyle       65.82
999        Member  Female     Fashion accessories       88.34

[776 rows x 4 columns]

In [50]:
# mini task
# get data from API & filter data tsb
import pandas as pd
import requests

In [59]:
resp = requests.get("https://api.publicapis.org/entries")

#check status code
resp.status_code

TooManyRedirects: Exceeded 30 redirects.

In [56]:
# ubah data API menjadi JSON
raw_data = read_api.json()

NameError: name 'read_api' is not defined